# Analysis on ATP Tennis Matches (2000 - 2024)!

Importing data into DataFrame

In [56]:
import pandas as pd
import os

cwd = os.getcwd()
file = os.path.join(cwd,"..","data","processed","tennis_cleaned_data.csv")
df = pd.read_csv(file)

1) List all players who won a tournament as a lucky loser.

In [57]:
show_columns = ['winner_name','winner_entry','tourney_name','tourney_level','tourney_date']
lucky_losers = df[(df['winner_entry']=="LL") & (df['round']=="F")][show_columns]
display(lucky_losers)

             winner_name winner_entry tourney_name tourney_level tourney_date
26231  Sergiy Stakhovsky           LL       Zagreb             A   2008-02-25
29568         Rajeev Ram           LL      Newport             A   2009-07-06
55047      Andrey Rublev           LL         Umag             A   2017-07-17
55132     Leonardo Mayer           LL      Hamburg             A   2017-07-24
57199   Marco Cecchinato           LL     Budapest             A   2018-04-23
68977      Soon Woo Kwon           LL   Adelaide 2             A   2023-01-09

2) List all players who won a big tournament (Grand Slam or Masters) as a qualifier or wildcard.

In [58]:
qual_or_wild = (df['winner_entry']=="Q") | (df['winner_entry']=="WC")
big_tournament = df['tourney_level'].isin(["G","M"])
winners = df[qual_or_wild & big_tournament & (df['round']=="F")][show_columns]
display(winners)

,winner_name,winner_entry,tourney_name,tourney_level,tourney_date
4595,Albert Portas,Q,Hamburg Masters,M,2001-05-14
5792,Goran Ivanisevic,WC,Wimbledon,G,2001-06-25

3) List the top 10 youngest and oldest tournament winners.

In [59]:
show_columns = ['winner_name','winner_age','winner_rank','tourney_name','tourney_level','tourney_date']
winners = df[df['round']=="F"][show_columns]

#top 10 oldest
oldest_winners=winners.sort_values(by='winner_age', ascending=False).head(10)

display(oldest_winners)

#top 10 youngest

#filters out next gen finals
next_gen_mask = winners['tourney_name'].str.contains('next', case=False, na=False) & \
       winners['tourney_name'].str.contains('gen', case=False, na=False)

winners_filtered = winners.drop(winners[next_gen_mask].index)

youngest_winners=winners_filtered.sort_values(by='winner_age', ascending=True).head(10)

display(youngest_winners)

,winner_name,winner_age,winner_rank,tourney_name,tourney_level,tourney_date
61412,Roger Federer,38.2,3.0,Basel,A,2019-10-21
60312,Roger Federer,37.8,3.0,Halle,A,2019-06-17
60343,Feliciano Lopez,37.7,113.0,Queen's Club,A,2019-06-17
59631,Roger Federer,37.6,5.0,Miami Masters,M,2019-03-18
59478,Roger Federer,37.5,7.0,Dubai,A,2019-02-25
52338,Ivo Karlovic,37.4,24.0,Los Cabos,A,2016-08-08
52029,Ivo Karlovic,37.3,38.0,Newport,A,2016-07-11
58805,Roger Federer,37.2,3.0,Basel,A,2018-10-22
73858,Novak Djokovic,37.1,2.0,Paris Olympics,O,2024-07-29
71324,Gael Monfils,37.1,140.0,Stockholm,A,2023-10-16

,winner_name,winner_age,winner_rank,tourney_name,tourney_level,tourney_date
27932,Kei Nishikori,18.1,244.0,Delray Beach,A,2008-02-11
14973,Rafael Nadal,18.1,71.0,Sopot,A,2004-08-09
64252,Carlos Alcaraz,18.2,73.0,Umag,A,2021-07-19
4469,Andy Roddick,18.6,89.0,Atlanta,A,2001-04-23
6176,Andy Roddick,18.6,69.0,Houston,A,2001-04-30
18637,Rafael Nadal,18.7,48.0,Costa Do Sauipe,A,2005-02-14
66436,Carlos Alcaraz,18.7,29.0,Rio de Janeiro,A,2022-02-14
19270,Rafael Nadal,18.7,39.0,Acapulco,A,2005-02-21
21285,Andy Murray,18.7,60.0,San Jose,A,2006-02-13
18045,Rafael Nadal,18.8,11.0,Barcelona,A,2005-04-18

4) List the lowest ranked tournament winners.

In [60]:
show_columns = ['winner_name','winner_age','winner_rank','tourney_name','tourney_level','tourney_date']
lowest_ranked = winners.sort_values(by='winner_rank', ascending=False).head(10)

display(lowest_ranked)

,winner_name,winner_age,winner_rank,tourney_name,tourney_level,tourney_date
74171,Marin Cilic,35.9,777.0,Hangzhou,A,2024-09-18
57070,Pablo Andujar,32.2,355.0,Marrakech,A,2018-04-09
2792,Fernando Gonzalez,19.7,352.0,Orlando,A,2000-05-01
15823,Tommy Haas,26.0,349.0,Houston,A,2004-04-12
65516,Juan Manuel Cerundolo,19.2,335.0,Cordoba,A,2021-02-22
13870,Santiago Ventura,24.3,316.0,Casablanca,A,2004-05-17
23315,Steve Darcis,23.3,297.0,Amersfoort,A,2007-07-16
27932,Kei Nishikori,18.1,244.0,Delray Beach,A,2008-02-11
61331,Andy Murray,32.4,243.0,Antwerp,A,2019-10-14
43067,Nicolas Mahut,31.4,240.0,s Hertogenbosch,A,2013-06-16

4) List the top 10 players with the most wins in the 2000s, 2010s and 2020s.

5) List the top 10 players with the most wins on each surface.

5) List the top 10 longest and shortest matches.

6) List the top 10 players with the highest 5-set winning percentage.

7) Has a player ever beaten the Big 3 (Federer, Nadal, Djokovic) in the same tournament?

8) List all matches that consisted only of bagels (6-0).

9) Who is the youngest and oldest player to beat the world number one?

10) Have tennis matches gotten longer over time?

11) List the top 10 players who hit the most aces on average per match.